{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <header>
    <div class="container">
      <h1>Hi, I'm Tom.</h1>
      <h2>I make things for the web at Nice & Serious <i class="far fa-thumbs-up"></i><i class="fas fa-laptop-code"></i>

</h2>
      <br>
      <div class="text-container">
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <nav class="nav">
      <div class="nav__menu" id="js-nav-menu">
        <ul class="menu">
          <li class="menu__item"><a href="about" class="menu__link js-link">About</a></li>
          <li class="menu__item"><a href="cv" class="menu__link js-link">CV</a></li>
          <li class="menu__item"><a href="contact" class="menu__link js-link">Contact</a></li>
        </ul>
      </div>

      <button class="nav__menu-icon hamburger hamburger--squeeze" type="button" id="js-menu-btn">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </nav>
  </header>

  <footer>
    <p>Footer content</p>
  </footer>

{% endblock %}
